// Set your brand colors
$custom-primary-color: #030014;
$custom-light-color-100: #cecefb;
$color-light-color-200: #a8b5db;
$custom-white-color: #ffffff;
$custom-gray-color-100: #9ca4ab;

$custom-dark-color-100: #0f0d23;

$custom-background-color: #003319;

// Button colors
$custom-button-primary-color: #1db954;
$custom-button-primary-hover-color: #17a44d;

// Override global Sass variables from the /utilities folder
@use "../../../node_modules/bulma/sass/" as bulma with (
  $family-primary: '"DM Sans", sans-serif',
  $family-secondary: '"Bebas Neue", cursive',
  $primary: $custom-primary-color,

  // Control
  // Form Input filed
  $input-shadow: $custom-primary-color,
  $input-hover-border-l-delta: $custom-primary-color,
  $input-active-border-l-delta: $custom-primary-color,
  $input-focus-h: $custom-primary-color,
  $input-focus-s: $custom-primary-color,
  $input-focus-l: $custom-primary-color,
  $input-placeholder-color: $custom-light-color-100,

  // Navbar
  $navbar-background-color: $custom-white-color
);

// Import the components you need
@forward "../../../node_modules/bulma/sass/base";
@forward "../../../node_modules/bulma/sass/components/card";
@forward "../../../node_modules/bulma/sass/components/modal";
@forward "../../../node_modules/bulma/sass/components/navbar";
@forward "../../../node_modules/bulma/sass/elements/button";
@forward "../../../node_modules/bulma/sass/elements/icon";
@forward "../../../node_modules/bulma/sass/elements/content";
@forward "../../../node_modules/bulma/sass/elements/notification";
@forward "../../../node_modules/bulma/sass/elements/progress";
@forward "../../../node_modules/bulma/sass/elements/tag";
@forward "../../../node_modules/bulma/sass/layout/footer";

// Import the themes so that all CSS variables have a value
@forward "../../../node_modules/bulma/sass/themes";

// Custom styles

/* custom-styles.css */

html,
body {
  background-color: $custom-background-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: $custom-background-color;
  .navbar {
    border-radius: 50px !important;
  }
}

main {
  background-color: $custom-background-color;

  .text-gradient {
    background: linear-gradient(90deg, #c7ffd6 0%, #8bffaa 50%, #8bffaa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navbar {
  --bulma-navbar-item-hover-background-l-delta: none !important;
  --bulma-navbar-item-active-background-l-delta: none !important;
  --bulma-navbar-item-focus-background-l-delta: none !important;
}
.search {
  input {
    background-color: $custom-white-color;
    color: $custom-primary-color;
    border-color: none !important;
    width: 640px;
  }
  button {
    color: $custom-white-color;
    background-color: $custom-button-primary-color;
  }
  button:hover {
    background-color: $custom-button-primary-hover-color; /* Slightly darker green for hover effect */
  }
}

@media screen and (max-width: 480px) {
  .search {
    input {
      background-color: $custom-white-color;
      color: $custom-primary-color;
      // border-color: red !important;
      width: 100%;
    }
  }
}

// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
